@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  
  /* YENİ ARKA PLAN RESMİ AYARI */
  background-image: url('/backround1.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* İçerik kayarken resim sabit kalır */
  background-repeat: no-repeat;
  background-color: #020617; /* Resim yüklenene kadar görünecek yedek renk */
}

html {
  background: transparent;
}