@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #020617;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background: radial-gradient(
    circle at top,
    #0b1c3d 0%,
    #020617 60%,
    #020617 100%
  );
  margin: 0;
  padding: 0;
}