@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  /* Canlı, net ve derin lacivert gradyan */
  background: radial-gradient(circle at top, #1e3a8a 0%, #0f172a 100%);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

/* Bulanıklığı önlemek için global netlik ayarı */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}