@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  color: #ffffff !important; /* Tüm metinleri beyaz yap */
  font-family: Arial, Helvetica, sans-serif;
  
  background-image: url('/backround1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #020617;
}

/* Sayfa ana gövdelerini şeffaf yap */
main, section, div.min-h-screen {
  background-color: transparent !important;
}

/* Kartların içindeki gri metinleri beyaza zorla */
p, span, h1, h2, h3 {
  color: #ffffff !important;
}