/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  /* İstediğin canlı ve net lacivert gradyan */
  background: radial-gradient(circle at top, #1e40af 0%, #020617 100%);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

/* Sayfa genelinde netlik ayarı */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}